# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
env/
ENV/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# Microservice Specific
services/audio/outputs/
services/visual/outputs/
outputs/
services/visual/Wav2Lip/checkpoints/
services/visual/Wav2Lip/face_detection/detection/sfd/s3fd.pth

# Logs
*.log

# Runtime files
.pids/
logs/
